Repository radical-cybertools/radical.saga, pull requests merged in 2019-06, with the labels that each got.

#719 Hotfix/delay expand
  src/radical/saga/adaptors/base.py
  src/radical/saga/adaptors/shell/shell_job.py
Labels: comp:shell_job, layer:rct, layer:rp, priority:critical, topic:communication, type:bug

#718 ensure cray detection
  src/radical/saga/adaptors/torque/torquejob.py
Labels: comp:torque, priority:critical, topic:resource, type:bug

#715 Feature/summit
  src/radical/saga/adaptors/lsf/lsfjob.py
  src/radical/saga/adaptors/torque/torquejob.py
Labels: comp:lsf, layer:rct, priority:high, topic:resouce:summit, topic:resource, type:enhancement

#722 RADICALIZATION of LSF adaptor
  src/radical/saga/adaptors/lsf/lsfjob.py
Labels: comp:lsf, priority:critical, topic:deployment, type:bug

#724 Hotfix/lsf
  examples/jobs/lsfjob.py
  src/radical/saga/adaptors/lsf/lsfjob.py
Labels: comp:lsf, priority:critical, topic:execution, topic:resouce:summit, type:bug

#720 Fix/issue 659
  src/radical/saga/adaptors/torque/torquejob.py
Labels: comp:torque, priority:high, topic:execution, topic:resource, type:enhancement
