Repository radical-cybertools/radical.saga, pull requests merged in 2020-12, with the labels that each got.

#817 Fixes for CobaltJob
  src/radical/saga/adaptors/cobalt/cobaltjob.py
Labels: comp:cobalt, priority:medium, topic:execution

#815 ip-isolate flag for distributed pytorch on lassen
  src/radical/saga/adaptors/lsf/lsfjob.py
Labels: comp:lsf, priority:medium, topic:resource, type:enhancement

#814 comet takes --gres for gpu
  src/radical/saga/adaptors/slurm/slurm_job.py
Labels: comp:slurm, priority:medium, topic:resource, type:enhancement
