Repository radical-cybertools/radical.saga, pull requests merged in 2020-07, with the labels that each got.

#794 Updated `memory_per_node` parameter
  src/radical/saga/adaptors/slurm/slurm_job.py
Labels: comp:slurm, priority:medium, topic:api

#796 Update `n_nodes` handling
  src/radical/saga/adaptors/slurm/slurm_job.py
Labels: comp:slurm, priority:medium, type:enhancement

#792 Fix bridges GPU gres flag
  src/radical/saga/adaptors/slurm/slurm_job.py
Labels: priority:critical, topic:deployment, type:bug

#791 Get `parse_qs` from `urllib.parse` (module `cgi` is not used in SAGA)
  src/radical/saga/__init__.py
  src/radical/saga/adaptors/cobalt/cobaltjob.py
  src/radical/saga/adaptors/pbs/pbsjob.py
  src/radical/saga/adaptors/pbspro/pbsprojob.py
  src/radical/saga/adaptors/sge/sgejob.py
  src/radical/saga/adaptors/torque/torquejob.py
Labels: comp:cobalt, comp:pbs, comp:sge, comp:torque, layer:saga, priority:medium

#800 Update readme and license files
  LICENSE.md
  README.md
Labels: priority:low, type:documentation

#801 Min python version 3.6
  .travis.yml
  docs/source/tutorial/part1.rst
  docs/source/tutorial/part2.rst
  docs/source/tutorial/part4.rst
  docs/source/usage/install.rst
  setup.py
  src/radical/saga/adaptors/shell/shell_file.py
Labels: priority:medium, topic:deployment, type:enhancement
