Repository radical-cybertools/radical.saga, pull requests merged in 2020-09, with the labels that each got.

#810 Remove obsolete `ppn` value for CobaltJob
  src/radical/saga/adaptors/cobalt/cobaltjob.py
Labels: comp:cobalt, priority:medium

#809 fix id based __eq__
  src/radical/saga/task.py
Labels: priority:critical, type:bug

#811 fix sh timeout for long running sessions
  src/radical/saga/adaptors/shell/shell_job.py
  src/radical/saga/adaptors/shell/shell_wrapper.sh
  src/radical/saga/utils/pty_shell.py
  tests/unittests/api/job/test_service.py
Labels: comp:shell_job, priority:critical, topic:communication, topic:termination, type:bug

#812 Fix for ShellJob[Service]
  src/radical/saga/adaptors/shell/shell_job.py
Labels: comp:shell_job, priority:high, topic:communication, type:bug
