Repository radical-cybertools/radical.saga, pull requests merged in 2021-07, with the labels that each got.

#831 simpler workdir switch, cleanup
  src/radical/saga/adaptors/slurm/slurm_job.py
  tests/adaptors/test_slurm.py
Labels: comp:slurm, priority:medium, topic:resource, type:refactor

#833 interpret OOM error on slurm
  src/radical/saga/adaptors/slurm/slurm_job.py
Labels: comp:slurm, priority:medium, topic:resource, type:enhancement

#834 Added fix for directory basename
  src/radical/saga/utils/pty_shell.py
Labels: comp:pty, layer:rp, priority:high, type:bug

#836 longhorn GRES exception
  src/radical/saga/adaptors/slurm/slurm_job.py
Labels: comp:slurm, layer:rp, priority:medium, topic:resource, type:bug
