Repository radical-cybertools/radical.saga, pull requests merged in 2023-01, with the labels that each got.

#867 Let shell_wrapper.py close file more promptly.
  src/radical/saga/adaptors/shell/shell_wrapper.py
Labels: comp:shell_job, priority:low, topic:enhancement

#868 fix SLURM adaptor - `smt` and `processes-per-host`
  src/radical/saga/adaptors/slurm/slurm_job.py
  tests/adaptors/test_slurm.py
Labels: comp:slurm, priority:medium, topic:resource, type:bug

#870 SLURM adaptor: added core specialization option
  src/radical/saga/adaptors/slurm/slurm_job.py
  tests/adaptors/test_slurm.py
Labels: comp:slurm, layer:rp, priority:medium, topic:resource, type:feature
